@import "./variable";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #213f7d;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;
}

main {
  height: 100vh;
}

section {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 18% 1fr;
  grid-template-rows: 100vh;
  grid-template-areas:
    "sidenav main";
  @include breakpointDesktop {
    display: flex;
    flex-direction: column;

  }
}

input,
select {
  width: 100%;
  height: 3rem;
  margin-bottom: 1rem;
  border: 2px solid rgba(84, 95, 125, 0.15);
  border-radius: 0.5rem;
  padding-left: 1rem;
  outline: none;
  font-size: calc(0.5rem + 0.5vw);
  background-color: transparent;
  @include breakpointTablet{
    font-size: 0.8rem;
}
}

select {
  font-size: calc(0.6rem + 0.2vw);
  opacity: 0.6;
  @include breakpointLgDesktop{
    height: 2rem;
  }
}

input:focus,
select:focus {
  border-color: #39cdcc;
}

label {
  text-transform: capitalize;
  width: 100%;
  text-align: left;
  font-size: calc(0.7rem + 0.2vw);
}
