@import "./variable";

.container{
    display: none;

    @include breakpointDesktop{
        display: block;
        color: #213F7D;

    }
    &_bar{
        position: fixed;
        font-size: calc(2rem + 0.2vw);
        top: 5rem;
        right: 5vw;
        z-index: 99;
        cursor: pointer;
    }

    &_aside{
        position: fixed;
        padding-left: 5vw;
        width: 40%;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: #fff;
        z-index: 400;

        &_nav{
            height: fit-content;
        }

       &_heading,
       &_text{
        margin: 1vh 0; 
        font-size: 1rem;       
       }

       &_title{
        font-size: 0.8rem;
        margin: 1vh 0;
       }
    }
}