@use "variable" as variable;

.sideNav{
    min-height: 100vh;
    padding-top: 2rem;
    width: 15% !important;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    color: #213F7D;
    background-color: #FFFFFF;

    &_link{
        display: flex;
        flex-direction: column;
        font-size: calc(0.4rem + 0.5vw);
        gap: 1vh;
        padding-left: 1.5vw;

        &_links{
            text-decoration: none;
            color: #213F7D;
            padding: 0.5vh 0;
            display: flex;
            align-items: center;
            gap: 1rem;
        }
    }

    &_heading,
    &_text{
        font-size: calc(0.6rem + 0.5vw);
        padding-left: 1.5vw;

    }

    &_title{
        font-size: calc(0.4rem + 0.3vw);
        font-weight: 700;
        margin-bottom: 0.3rem;
        padding-left: 1.5vw;
    }

}