@import "./variable";

.sideNav{
    grid-area: sidenav;
    padding: 1rem;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    color: #213F7D;
    background-color: #FFFFFF;
    z-index: 300;

    @include breakpointDesktop{
        display: none;
    }

    &_aside{
        display: flex;
        flex-direction: column;
        font-size: calc(0.8rem + 0.2vw);
        flex-grow: 2;


        &_nav{
            flex-grow: 2;
        }

       &_link{
        display: flex;
        height: 80%;
        flex-direction: column;
        justify-content: space-between;
        &_links{
            text-decoration: none;
            color: #213F7D;
            font-size: calc(0.8rem + 0.2vw);
            display: flex;
            gap: 1rem;

            @include breakpointTablet{
                padding: 0.2rem 0;
            }
        }
       } 

       &_heading,
       &_text{
        margin: 1vh 0;        
       }

       &_title{
        font-size: calc(0.6rem + 0.2vw);
        margin: 1vh 0;
       }
    }

}