@import "./variable";

.sideNav{
    grid-area: sidenav;
    padding-left: 2vw;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    margin-top: 5rem;
    color: #213F7D;
    background-color: #FFFFFF;
    z-index: 200;

    @include breakpointDesktop{
        display: none;
    }

    &_aside{
        display: flex;
        flex-direction: column;
        font-size: calc(0.8rem + 0.2vw);
        flex-grow: 2;


        &_nav{
            flex-grow: 2;
        }

       &_link{
        display: flex;
        flex-direction: column;

        &_links{
            text-decoration: none;
            color: #213F7D;
            font-size: calc(0.9rem + 0.2vw);
            display: flex;
            align-items: center;
            gap: 1rem;
            padding: 0.2rem 0;
        }
       } 

       &_heading,
       &_text{
        margin: 1vh 0; 
        display: flex;
        align-items: center;   
        gap: 1rem;    
       }

       &_title{
        font-size: calc(0.6rem + 0.2vw);
        margin: 1vh 0;
       }
    }

}